/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* STYLES */
.home {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: #FEFEFE;
}

.home__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 10vw;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.home__title-dot {
  display: inline-block; 
  width: 0.2em;              
  height: 0.2em;
  border-radius: 50%;
  background-color: #792262;
}

.home__enter-message {
  margin-top: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5vw;
  font-style: italic;
  color: #792262;
  text-align: center;
  user-select: none;
}