@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.overlay__container {
  position: fixed;
  inset: 0;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: #FEFEFE;
}

.overlay__title-wrapper {
  display: inline-block; 
  white-space: nowrap; 
  text-align: center; 
}

.overlay__title {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 10vw;
  line-height: 1;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  vertical-align: baseline;
}

.overlay__title-dot {
  display: inline-block; 
  width: 2.5vw;              
  height: 2.5vw;
  border-radius: 50%;
  background-color: #792262;
  vertical-align: baseline;
}

.overlay__enter-message {
  position: absolute;
  top: 65vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5vw;
  font-style: italic;
  color: #792262;
  text-align: center;
  user-select: none;
}

@media (max-width: 768px) {
  .overlay__enter-message {
    font-size: 3vw;
    top: 55vh
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .overlay__enter-message {
    font-size: 3vw;
    top: 60vh
  }
}